{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "printWidth": 80,
    "importOrderParserPlugins": ["classProperties", "decorators-legacy", "typescript", "jsx"],
    "importOrder": ["^react$", "(^@mui/(.*))|(^next(.*))", "<THIRD_PARTY_MODULES>", "src/(.*)$", "_/(.*)$|_(.*)/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }